<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>
<body>

    <img src="https://media.giphy.com/media/3oriNWWcEJJn5K3LbO/giphy.gif" style="float:right;">
    {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                <li><a href = "{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
    {% else %}
        <p>No polls available for this</p>
    {% endif %}
</body>
</html>